__pycache__/
.coverage.*
coverage.xml
staticfiles/
celerybeat-schedule
.venv
venv/
*.log
coverage
.vscode
.pytest_cache/
.ipython/
.idea
.env
dist
build
.ipynb_checkpoints
new_data
images
runs
classification_model
segmentation_model
*.jpg
*.png
labels/
*.cache
*.csv