altgraph==0.17.4
click==8.1.7
flake8==6.1.0
isort==5.12.0
mccabe==0.7.0
packaging==23.2
pycodestyle==2.11.1
pyflakes==3.1.0
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqt5ac==1.2.1
PyYAML==6.0.1
